


header{
    background-color: #ffb90f;
    height: 32%;
    width: 100%;
    padding: 20px 0px 20px 0px ; /* 1º cima | 2º esquerda | 3º baixo | 4º dir*/
    margin: 30px 50px 0px 0px;
    border: solid orange 5px;
    border-radius: 10px;
    position: relative;
}

header nav img{
    width: 200px;
    position: absolute;
    margin-top: -70px;

    
}

header nav ul li{
    display: inline-block;
    font-weight: bold;
    list-style: none;
    margin-left: 150px;
    padding: 15px 0px 0px 50px;
    
}

header nav ul li a{
    text-decoration: none;
    display: inline-block;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}



header form, header form {
    display: inline-block;
    
}

form {
    position: relative;
    margin-left: 1050px;
    margin-top: -60px;
}

.container {
    height: 900px;
    width: 650px;
    margin: 80px auto;
}

.product-img {
    background-image: url("../img/product-1.jpg");
    
}

.products {
    display: inline-block;
    width: 300px;
    height: 300px;
    background-position: center;
    background-size: cover;
    margin: 0 15px 15px 0;
}

.img-label {
    width: 100px;
    height: 100px;
    margin: 5px 0 0 200px ;
}

.name-product{
    height: 35px;
    color: white;
    background-color: #101010;
    font-size: 20px;
    text-align: center;
    padding-top: 10px;
    margin-top: 50px;
    
}

.see-more {
    background-color: orange;
    box-sizing: border-box;
    border: solid orange;
    border-radius: 10px;
    margin: 10px 10px 10px 120px;

}

